@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
} */

.content {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    position: relative;
}

.content h2 {
    position: absolute;
    /* color: #fff; */
    transform: translate(-50%, -50%);
    font-size: 8em;
}

.water h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.water h2:nth-child(2) {
    color:#03a9f4;
    animation: water 4s ease-in-out infinite;
}

@keyframes water {
    0%,100% 
	{
		clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
	}
	50%
	{
		clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
	}
}

.earth h2::before {
    content: '';
    position: absolute;
    left: 110%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: earth 5.5s linear forwards;
}

@keyframes earth {
    0% 
    {
        left:120%;
    }
    100%
    {
        left: -20%;
    }
}